.checkout {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    justify-content: center;
    text-align: center;
}

.checkout-info {
    grid-column: 1;
}

.product-checkout {
    grid-column: 2;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 0 80px;
}

.product-checkout h2 {
    margin: 10px 0 40px 0;
}

.product-checkout img {
    display: flex;
    flex-direction: column;
    height: 200px;
    margin: 0 auto;
}

.product-checkout p {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 6px;
}


.checkout input, select {
    margin-top: 10px;
}

.contact-info input, .shipping-info select, .address-info input, .apartment-info input {
    width: 500px;
    padding: 5px;
}

.id-info input {
    width: 248px;
    padding: 5px;
    margin-right: 4px;
}

.city-province-pcode input {
    width: 164px;
    padding: 5px;
    margin-right: 4px;
}