.checkout {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    justify-content: center;
    text-align: center;
}

.checkout-info {
    grid-column: 1;
    margin: 0 10px 20px 10px;
}

.product-checkout {
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    min-width: 500px;
    max-width: auto;
    margin: auto;
}

.product-checkout h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.product-checkout img {
    height: 250px;
    max-width: 100%;
    margin-bottom: 20px;
}

.product-checkout p {
    margin-bottom: 10px;
}

/* Estilos base del formulario */
form {
    display: grid;
    grid-gap: 20px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkout-form form h2 {
    margin: 10px 0 10px 0;
    font-size: 1.5rem;
}

.checkout-form section {
    display: grid;
    grid-gap: 10px;
}

.checkout-form input[type="text"],
.checkout-form select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.checkout-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.checkout-form button:hover {
    background-color: #0056b3;
}

/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {
    form {
        padding: 10px;
        max-width: 360px;
    }

    .checkout-form input[type="text"],
    .checkout-form select,
    .checkout-form button {
        font-size: 0.9rem;
    }
    
    .checkout-form section.name-info,
    .checkout-form section.city,
    .checkout-form section.province {
        grid-template-columns: 1fr;
    }
}


@media screen and (min-width: 768px) {
    .checkout {
        grid-template-columns: 1fr 1fr;
    }
}