@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
    font-family: "Poppins", "sans-serif";
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ebebeb;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../assets/img/herobackg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-bottom: 30px;
    border-radius: 10px;
}

.hero h1 {
    max-width: 500px;
}

.titlecolor {
    background: hsla(252, 35%, 41%, 1);

    background: -webkit-linear-gradient(90deg, hsla(252, 35%, 41%, 1) 19%, hsla(258, 57%, 60%, 1) 48%, hsla(270, 55%, 57%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(252, 35%, 41%, 1) 19%, hsla(258, 57%, 60%, 1) 48%, hsla(270, 55%, 57%, 1) 100%);
    
    background: linear-gradient(90deg, hsla(252, 35%, 41%, 1) 19%, hsla(258, 57%, 60%, 1) 48%, hsla(270, 55%, 57%, 1) 100%);

    -webkit-background-clip: text;
    color: transparent;
}

@media screen and (max-width: 680px) {
    .presentation {
        width: 80%;
        height: auto;
        padding: 0 10px;
        margin-left: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
    }
}